
// base
@import "base/base";
@import "base/mixins";
@import "base/keyframes";
@import "base/variables";
@import "global/global";

//page components
@import "blocks/common/header";
@import "blocks/common/page-header";
@import "pages/about/features";
@import "blocks/infoblocks";
@import "blocks/reviews";
@import "blocks/faq";
@import "blocks/common/footer";
@import "blocks/common/modal";