
@import "base/base";
@import "base/mixins";
@import "base/keyframes";
@import "base/variables";
@import "global/global";

//page components
@import "blocks/common/header";
@import "pages/course/hero";
@import "pages/course/skills";
@import "pages/course/program";
@import "blocks/reviews";
@import "pages/course/reviews";
@import "pages/course/team";
@import "pages/course/registration";
@import "blocks/common/footer";
@import "blocks/common/modal";