
.features {
    padding: 0 0 80px;

    &_list {
        &-item {
            margin-bottom: 30px;

            &:last-of-type {
                margin-bottom: 0;
            }
        }
    }
}

//

@media screen and (min-width: 575.98px) {
    .features {

        &_list {

            &-item {
                .card {
                    padding: 50px;
                }
            }
        }
    }
}

@media screen and (min-width: 767.98px) {
    .features {
        padding: 20px 0 100px;

        &_list {
            margin: 0 -15px;

            &-item {
                padding: 0 15px;

                .card {
                    padding: 40px 30px 25px;
                }

                &[data-order="5"] {
                    margin-bottom: 0;
                }
            }
        }
    }
}

@media screen and (min-width: 991.98px) {
    .features {
        padding: 40px 0 120px;

        &_list {
            margin: 0 -17.5px;

            &-item {
                padding: 0 17.5px;
                margin-bottom: 45px;

                .card {
                    padding: 50px;
                }
            }
        }
    }

    .reviews {
        padding: 100px 0 120px !important;
    }
}

@media screen and (min-width: 1199.98px) {
    .features {

        &_list {

            &-item {
                &[data-order="4"] {
                    margin-bottom: 0;
                }

                .card {
                    padding: 40px 0 25px;
                }
            }
        }
    }
}