
.faq {
    background: #fff;
    padding: 80px 0;
    position: relative;
    transition: all .3s ease-in-out;

    .phone, .sphere {
        display: none;
    }

    .container {
        max-width: 915px;
        position: relative;
        z-index: 2;
    }

    &_header {
        text-align: center;
        max-width: 725px;
        margin: 0 auto 20px;

        &-title {
            max-width: 605px;
            margin: 0 auto 15px;
        }
    }

    &_accordion {
        width: 100%;

        &-item {
            margin-bottom: 20px;

            .item-wrapper {
                background: #fff;
                box-shadow: 0 2px 14px rgba(216, 217, 255, 0.65);
                border-radius: 8px;
                padding: 30px;
            }

            &:last-of-type {
                margin-bottom: 0;
            }

            &_header {
                cursor: pointer;

                &[aria-expanded="true"] {
                    .text {
                        color: $accent;
                    }

                    .icon {
                        &:before, &:after {
                            background: $accent;
                        }
                    }
                }

                .text {
                    max-width: calc(100% - 28px);
                    font-size: 20px;
                    font-weight: 600;
                }

                .icon {
                    position: relative;
                    width: 13px;
                    height: 13px;

                    &:before,
                    &:after {
                        content: "";
                        position: absolute;
                        background-color: $textColor;
                        transition: transform 0.25s ease-out;
                    }

                    /* Vertical line */
                    &:before {
                        top: 0;
                        left: 50%;
                        width: 2px;
                        height: 100%;
                        margin-left: -1px;
                    }

                    /* horizontal line */
                    &:after {
                        top: 50%;
                        left: 0;
                        width: 100%;
                        height: 2px;
                        margin-top: -1px;
                    }

                    &.transform {
                        &:before {
                            transform: rotate(90deg);
                        }

                        &:after {
                            transform: rotate(180deg);
                        }
                    }
                }
            }

            &_body {
                padding-top: 15px;
            }
        }
    }

    &_btn {
        margin-top: 40px;
    }
}

// media queries

@media screen and (min-width: 767.98px) {
    .faq {
        padding: 100px 0;

        &_accordion {
            &-item {
                &_header {
                    .text {
                        font-size: 20px;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 991.98px) {
    .faq {
        padding: 100px 0 120px;

        &_header {
            margin-bottom: 40px;
        }
    }
}

@media screen and (min-width: 1199.98px) {
    .faq {
        .phone, .sphere {
            display: block;
            position: absolute;
            z-index: 1;
            transition: all .3s ease-in-out;
        }

        .phone {
            width: 632px;
            height: 535px;
            bottom: -60px;
            left: -97px;
        }

        .sphere {
            width: 377px;
            height: 379px;
            top: 60px;
            right: -103px;
        }
    }
}

@media screen and (min-width: 1399.98px) {
    .faq {
        .phone {
            left: -50px;
        }

        .sphere {
            right: -30px;
        }
    }
}

@media screen and (min-width: 1599.98px) {
    .faq {
        .sphere {
            right: 80px;
        }
    }
}
