

.infoblock {
    &_block {
        color: #fff;
        position: relative;

        img {
            height: 100%;
        }

        &-header {
            color: #fff;
        }

        &[data-order='1'] {
            padding: 30px;
            background: linear-gradient(211.82deg, #0ACFFE -4%, #495AFF 63.7%);
            order: 1;
            text-align: center;

            .infoblock_block-header {
                margin-bottom: 20px;
            }
        }

        &[data-order='2'] {
            order: 1;
        }

        &[data-order='2'],
        &[data-order='3'] {
            height: 280px;
            overflow: hidden;

            img {
                height: 280px;
            }
        }

        &[data-order='3'] {
            order: 4;
        }

        &--sale {
            padding: 60px 20px;
            background: linear-gradient(275.97deg, #6A11CB 59.77%, #2575FC 157.08%);
            order: 3;

            .content {
                &_percent {
                    display: none;
                }

                &_text {
                    margin-bottom: 20px;
                    text-align: center;

                    .title, .text {
                        color: #fff;
                    }

                    .text {
                        margin-top: 5px;
                        font-weight: 400;
                    }
                }
            }

            .form {
                width: 100%;

                .field {
                    color: $textColor;
                    margin-bottom: 10px;
                }
            }
        }
    }
}

// media queries

@media screen and (min-width: 575.98px) {
    .infoblock {
        &_block {

            &[data-order='1'] {
                padding: 50px;
            }

            &[data-order='2'],
            &[data-order='3'] {
                height: 320px;

                img {
                    height: 100%;
                }
            }

            &--sale {
                padding: 50px;

                .content {
                    max-width: 570px;
                    margin: 0 auto;

                    &_text {
                        margin-bottom: 20px;
                    }
                }

                .form {
                    max-width: 500px;
                    margin: 0 auto;
                    width: 100%;

                    .field {
                        width: calc(100% - 195px);
                        margin-bottom: 0;
                        border-top-right-radius: 0;
                        border-bottom-right-radius: 0;
                    }

                    .btn {
                        width: 195px;
                        padding: 0;
                        border-top-left-radius: 0;
                        border-bottom-left-radius: 0;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 767.98px) {
    .infoblock {
        &_block {
            &[data-order='2'] {
                height: 560px;
            }

            &[data-order='1'],
            &[data-order='4'] {
                padding: 80px 60px;
            }
        }
    }
}

@media screen and (min-width: 991.98px) {
    .infoblock {
        &_block {
            &[data-order='2'],
            &[data-order='3'] {
                height: 480px;

                img {
                    height: 480px;
                }
            }

            &[data-order='1'],
            &[data-order='4'] {
                padding: 30px;
            }

            &[data-order='4'] {
                order: 4;
            }
        }
    }
}

@media screen and (min-width: 1199.98px) {
    .infoblock {
        &_block {
            &[data-order='1'] {
                text-align: left;
            }

            &[data-order='4'] {
                padding: 0;

                .content {
                    margin: 0 auto 30px;

                    &_percent {
                        display: inline-flex;
                        font-weight: 700;
                        font-family: $accentFont;
                        font-size: 60px;
                        line-height: 1;
                        padding-right: 20px;
                        margin-right: 20px;
                        position: relative;
                        top: 50%;
                        transform: translateY(-50%);

                        &:after {
                            content: '';
                            position: absolute;
                            height: 58px;
                            width: 2px;
                            right: 0;
                            top: 50%;
                            transform: translateY(-50%);
                            background: #DAB9FF;
                        }
                    }

                    &_text {
                        margin-bottom: 0;
                        position: relative;
                        top: -3px;

                        .title {
                            line-height: .9;
                            margin-bottom: 10px;

                            .percent {
                                display: none;
                            }
                        }

                        .text {
                            line-height: 1;

                            &_cut {
                                display: none;
                            }
                        }
                    }

                }
            }
        }
    }
}

@media screen and (min-width: 1399.98px) {
    .infoblock {
        &_block {
            &[data-order='4'] {
                .content {
                    width: 100%;

                    &_percent {
                        font-size: 80px;
                    }

                    &_text {
                        top: 50%;
                        transform: translateY(-50%);
                        padding-bottom: 6px;

                        .text {
                            &_cut {
                                display: inline;
                                margin-left: 5px;
                            }
                        }
                    }
                }

                .form {
                    max-width: 580px;
                }
            }
        }
    }
}

@media screen and (min-width: 1599.98px) {
    .infoblock {
        &_block {
            height: 515px;

            &[data-order="1"] {
                .content {
                    max-width: 650px;
                    margin: 0 auto;
                }
            }

            &[data-order="2"],
            &[data-order="3"] {
                height: 515px;

                img {
                    height: 100%;
                }
            }
        }
    }
}