
.sidebar {
    &_block {
        margin-bottom: 30px;

        &:last-of-type {
            margin-bottom: 0;
        }

        &-header {
            margin-bottom: 15px;
        }

        &--nav {
            font-weight: 700;
            font-size: 16px;
            line-height: 1;
            color: $headerColor;

            .list {

                &-item {
                    margin-bottom: 20px;

                    &:last-of-type {
                        margin-bottom: 0;
                    }

                    .link {
                        display: inline-flex;
                        align-items: center;
                        line-height: 1.2;
                    }

                    .icon {
                        margin-right: 20px;
                        font-size: 14px;
                        transition: all .3s ease-in-out;
                        position: relative;
                        left: 0;
                    }

                    .title {
                        transition: all .3s ease-in-out;
                        display: inline-block;
                    }

                    &:hover, &:focus {
                        .title {
                            color: $accent;
                            transform: scale(1.1);
                        }

                        .icon {
                            color: $accent;
                            transform: scale(1.3);
                            display: inline-block;
                            margin-right: 15px;
                            left: -15px;
                        }
                    }
                }
            }
        }

        &--lang, &--recent {
            display: none;
        }

        &--types {
            margin-bottom: 50px;

            .list {
                &-item {
                    margin-bottom: 15px;

                    &:last-of-type {
                        margin-bottom: 0;
                    }

                    input[type="checkbox"] {
                        &:checked + label {
                            text-shadow: $headerColor 0 1px 0;
                        }
                    }

                    label {
                        padding-left: 46px;
                        transition: text-shadow .4s ease-in-out;
                    }
                }
            }
        }
    }
}

// media queries

@media screen and (min-width: 991.98px) {
    .sidebar {
        &_block {
            margin-bottom: 45px;

            &-header {
                margin-bottom: 20px;
            }

            &--types {
                margin-bottom: 45px;
            }

            &--lang, &--recent {
                display: block;
            }

            &--recent {
                .list {
                    &-item {
                        margin-bottom: 30px;

                        &:last-of-type {
                            margin-bottom: 0;
                        }

                        .media {
                            margin-bottom: 10px;
                            border-radius: 8px;
                            height: 200px;
                            overflow: hidden;
                            backface-visibility: hidden;

                            img {
                                height: 100%;
                            }
                        }

                        .main {
                            &_title {
                                display: inline-block;
                                margin-bottom: 10px;
                            }

                            &_meta {
                                &-item {
                                    color: #868686;
                                    font-weight: 700;
                                    font-size: 14px;
                                    line-height: 1;
                                    margin-right: 10px;

                                    &:last-of-type {
                                        margin-right: 0;
                                    }

                                    .icon {
                                        margin-right: 10px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}