
$headerColor: #2B3543;
$textColor: #485870;
$accent: #3D53EB;
$accentAlt: #FF0844;
$accentBright: #F9D423;
$black: #29323C;
$star: #F83600;
$bodyColor: #FBF8FE;

$bgLight: linear-gradient(0deg, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)), linear-gradient(127.36deg, #6A11CB 31.85%, #2575FC 108.53%);

$bodyFont: 'Lato', sans-serif;
$accentFont: 'Barlow Semi Condensed', sans-serif;

$shadow: 0 2px 14px rgba(112, 115, 255, 0.4);