
.hero {
    padding: 50px 0 80px;
    position: relative;
    overflow: hidden;
    color: #fff;
    text-align: center;

    .container {
        position: relative;
        z-index: 2;
    }

    .underlay {
        z-index: 1;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;

        &_bg {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-blend-mode: normal, multiply, normal;
            background: linear-gradient(90deg, rgba(106, 17, 203, 0.74) 7.15%, rgba(37, 117, 252, 0.74) 97.85%),
            linear-gradient(98.2deg, #6A11CB 5.04%, #6A11CB 35.6%, #2575FC 67.82%), url("../img/placeholder.jpg") no-repeat center / cover;
        }
    }

    &_icon {
        border-radius: 12px;
        width: 54px;
        height: 54px;
        background: $star;
        line-height: 1;

        .icon {
            font-size: 18px;
        }
    }

    &_header {
        color: #fff;
        max-width: 450px;
        margin: 15px auto 20px;
    }

    &_text {
        max-width: 625px;
        margin: 0 auto 20px;
    }

    &_info {
        &-block {

            &:first-of-type {
                padding-bottom: 16px;
                margin-bottom: 16px;
                position: relative;

                &:after {
                    content: '';
                    position: absolute;
                    left: 50%;
                    bottom: 0;
                    transform: translateX(-50%);
                    height: 2px;
                    width: 50px;
                    background: #EDEDED;
                    opacity: 0.2;
                }
            }

            &_title {
                color: #F9D423;
                font-weight: 700;
                font-size: 22px;
                margin-bottom: 10px;
            }

            &_text {
                font-size: 12px;
                color: #D5D5D5;
                line-height: 1.1;
            }

            .rating {
                margin-bottom: 5px;
            }
        }
    }

    &_btn {
        max-width: 230px;
        width: 100%;
        margin: 25px auto 0;
    }

    &_nav {
        margin-top: 30px;

        &-item {
            padding: 10px 10px 0 0;
            text-align: center;

            &:last-of-type {
                padding-right: 0;
            }

            .link {
                color: #fff;

                &:hover, &:focus {
                    color: $accentBright;
                }
            }
        }
    }
}

.presentation {
    background: #fff;
    margin-top: -40px;

    .container {
        box-shadow: 0 2px 14px rgba(216, 217, 255, 0.66);
    }

    &_video {
        z-index: 20;
        position: relative;
        height: 230px;
        border-radius: 8px;
        overflow: hidden;
        backface-visibility: hidden;
    }
}

// media queries

@media screen and (min-width: 575.98px) {
    .hero {
        padding: 50px 0 130px;

        &_info {
            max-width: 600px;
            margin: 0 auto;

            &-block {
                width: calc(50% - 16px);

                &:first-of-type {
                    padding-bottom: 0;
                    margin-bottom: 0;
                    padding-right: 16px;
                    margin-right: 16px;

                    &:after {
                        left: unset;
                        right: 0;
                        bottom: unset;
                        top: 50%;
                        transform: translateY(-50%);
                        height: calc(100% - 2px);
                        width: 2px;
                    }
                }

                &_title {
                    line-height: 1;
                }

                &:last-of-type {
                    text-align: left;
                }
            }
        }

        &_nav {
            margin-top: 40px;

            &-item {
                padding: 0;
                margin-right: 20px;

                &:last-of-type {
                    margin-right: 0;
                }
            }
        }
    }

    .presentation {
        margin-top: -70px;

        &_video {
            height: 350px;
        }
    }
}

@media screen and (min-width: 767.98px) {
    .hero {

        &_nav {
            margin-top: 60px;

            &-item {
                margin-right: 45px;
            }
        }
    }

    .presentation {
        padding-bottom: 30px;

        &_video {
            height: 450px;
        }
    }
}

@media screen and (min-width: 991.98px) {
    .presentation {
        &_video {
            height: 600px;
        }
    }
}