
.registration {
    position: relative;
    background: linear-gradient(180deg, #FBF8FE -11.54%, #FFFFFF 100%);
    padding: 60px 0;
    text-align: center;

    &_content {
        position: relative;
        z-index: 2;
        max-width: 605px;
    }

    &_header, &_text {
        margin-bottom: 20px;
    }

    .underlay {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 1;
        background: linear-gradient(179.27deg, rgba(255, 255, 255, 0.179279) 20.42%, rgba(255, 255, 255, 0.5) 99.37%), linear-gradient(179.86deg, #EBD6FF -118.76%, #FFFFFF 103.18%, #FCF9FE 103.36%, rgba(254, 254, 254, 0.0001) 103.36%), linear-gradient(180deg, #FBF8FE 10.94%, rgba(255, 255, 255, 0.0001) 100%);
        background-blend-mode: normal, multiply, lighten;
        mix-blend-mode: normal;
        opacity: 0.57;
    }

    &_price {
        color: $accent;
        margin-bottom: 10px;
    }

    &_form {
        width: 100%;
        margin-top: 20px;
        .field {
            margin-bottom: 10px;
        }
        .btn {
            width: 100%;
            max-width: 345px;
            margin-top: 20px;
        }
    }
}

// media queries

@media screen and (min-width: 767.98px) {
    .registration {
        padding: 80px 0;
    }
}

@media screen and (min-width: 991.98px) {
    .registration {
        padding: 100px 0 120px;
    }
}