
.team {
    text-align: center;
    padding: 80px 0;

    &_header {
        margin-bottom: 30px;
    }

    &_list {
        &-item {
            margin-bottom: 30px;
            cursor: pointer;

            &:last-of-type {
                margin-bottom: 0;
            }

            .media {
                border-radius: 12px;
                overflow: hidden;
                margin-bottom: 5px;
                aspect-ratio: 1 / 1;
                bottom: 0;
                transition: all .3s ease-in-out;
                position: relative;

                img {
                    height: 100%;
                }
            }

            .main {
                .name {
                    margin-bottom: 5px;
                    transition: color .3s ease-in-out;
                }
            }

            &:hover {
                .media {
                    bottom: 10px;
                }

                .main {
                    .name {
                        color: $accent;
                    }
                }
            }
        }
    }
}

// media queries

@media screen and (min-width: 575.98px) {
    .team {
        &_list {
            margin: 0 -15px;

            &-item {
                padding: 0 15px;

                &[data-order="3"] {
                    margin-bottom: 0;
                }
            }
        }
    }
}

@media screen and (min-width: 767.98px) {
    .team {
        padding: 100px 0;
    }
}

@media screen and (min-width: 991.98px) {
    .team {
        padding: 100px 0 120px;

        &_list {
            margin: 0 -17.5px;

            &-item {
                padding: 0 17.5px;

                &[data-order="3"] {
                    margin-bottom: 30px;
                }

                .main {
                    .name {
                        margin-bottom: 0;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 1199.98px) {
    .team {
        &_list {
            &-item {
                margin-bottom: 0;

                &[data-order="3"] {
                    margin-bottom: 0;
                }
            }
        }
    }
}